* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: rgb(28, 28, 28);
  /* background-color: rgb(15, 15, 15); */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
  padding-top: 59px;
}

.title {
  display: flex;
  font-size: 40px;
  margin: auto;
}

.title span {
  font-size: 40px;
  background-color: white;
  color: black;
  padding: 8px 16px;
  border-radius: 7px;
}
